[submodule "vendor/extensions/help"]
	path = vendor/extensions/help
	url = git://github.com/saturnflyer/radiant-help-extension.git
[submodule "vendor/extensions/dashboard"]
	path = vendor/extensions/dashboard
	url = git://github.com/saturnflyer/radiant-dashboard-extension.git
